html,
body {
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
}
/* navbar */
.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  justify-content: center;
  background-color: rgb(68, 50, 151);
}
.navbar_frame .container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px 14px;
}
.navbar_frame .navbar_top {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}
.navbar_frame .navbar_top .nav_search_frame {
  width: 650px;
  height: 50px;
  display: flex;
  flex-direction: row;
  border-radius: 6px;

  align-items: center;
  background-color: white;
}
.navbar_frame .navbar_top > a img {
  height: 36px;
  margin-right: 76px;
}
.navbar_frame .navbar_top .search_box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 17px;
}
.navbar_frame .search_box .category_list {
  width: 166px;
  height: 30px;
  border-right: 1px solid #d6d6d6;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar_frame .category_list select {
  width: 150px;
  height: 30px;
  border: none;

  outline: none;
}
.navbar_frame .search_box input {
  width: 387px;
  height: 30px;
  margin-left: 12px;
  border: none;
  outline: none;
}
.navbar_frame .nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5c34b;
  border-radius: 0px 6px 6px 0px;
}
.navbar_frame .navbar_top .nav_top_menu {
  margin-left: 29px;
  width: 416px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar_frame .nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.navbar_frame .top_menu_box .box_icon_box {
  position: relative;
  height: 54px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}
.navbar_frame .box_icon_box img {
  height: 30px;
  width: 30px;
}
.navbar_frame .top_menu_box .box_info_box {
  display: flex;
  flex-direction: column;
}
.box_info_box span {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.navbar_frame .box_info_box strong {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.navbar_frame .box_icon_box .backet_count {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5c34b;
  border-radius: 50%;
}
.navbar_frame .navbar_bott {
  width: 100%;
  height: 40px;

  margin-top: 20px;
  display: flex;
  flex-direction: row;
  border-top: #cacaca 1px solid;
}
.navbar_frame .navbar_bott .navbar_bott_menu_box {
  margin-top: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.navbar_frame .navbar_bott_menu_box .browse_box {
  width: 185px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #5746a1;
}
.navbar_frame .browse_box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}
.navbar_frame .browse_box span {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.navbar_frame .nav_bott_menu_box .navbar_route_menu {
  margin: 12px;

  display: flex;
  flex-direction: row;
}
.navbar_frame .navbar_route_menu .router_menu {
  margin-left: 41px;
  display: flex;
  width: 650px;
  margin-right: 20px;
  flex-direction: row;
}
.navbar_frame .router_menu a {
  color: rgb(255, 255, 255);
  font-family: jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  margin-right: 25px;
}
.navbar_frame .router_menu a:active {
  color: #f5c34b;
}
.navbar_frame .nav_bott_menu_box .sorting_menu {
  display: flex;
  flex-direction: row;
}
.navbar_frame .sorting_menu span {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  margin-left: 20px;
}
.footer_frame {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(243, 245, 246);
}
.footer_spec_title {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
  display: block;
}
.footer_frame .container {
  flex-direction: column;
  margin-top: 90px;
}
.container .footer_top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.footer_top .footer_contact_box {
  display: flex;
  flex-direction: column;
}
.footer_contact_box .footer_contact_main {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.footer_contact_main img {
  width: 35px;
  height: 30px;
}
.footer_contact_main .contact_info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.footer_contact_main .contact_info strong {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.footer_contact_main .contact_info span {
  color: rgb(4, 30, 66);
  margin-top: 10px;
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.container .footer_support_box {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
.footer_support_box a {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}
.footer_support_box .footer_webpages {
  width: 150px;
  height: 16px;
  display: flex;
  flex-direction: row;
}
.footer_webpages a {
  color: rgb(4, 30, 66);
  font-family: Font Awesome 5 Brands;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-right: 40px;
}

.footer_support_box strong {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 30px;
}
.footer_support_box .ios_app {
  margin-top: 15px;
}
.footer_support_box .ios_app img {
  width: 28px;
  height: 18px;
}
.footer_support_box .ios_app span {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 20px;
}
.footer_support_box .android_app img {
  width: 28px;
  height: 18px;
}
.footer_support_box .android_app span {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 20px;
}
.footer_top .payment_box {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  justify-content: end;
  margin-bottom: 33px;
}
.payment_box span {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

.payment_box div {
  width: 275px;
  display: flex;
  justify-content: space-between;
}
.container .footer_bottom {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-top: 90px;
}
.container .footer_bottom .footer_bottom_left {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
}
.footer_bottom span {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 40px;
}
.footer_bottom_left .privacy {
  margin-left: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.privacy a {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0px 15px;
}
.privacy .pause {
  width: 2px;
  height: 2px;
  background: black;
  border-radius: 50%;
}
.footer_bottom .footer_bottom_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  height: 40px;
  /* margin: 40px; */
}
.footer_bottom_right .right_select_box {
  display: flex;
  width: 190px;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffff;
  border-radius: 5px;
  margin-bottom: 25px;
  box-sizing: border-box;
  margin-left: 20px;
}
.right_select_box span {
  color: rgb(98, 105, 116);
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;

  letter-spacing: 0%;
  text-align: left;
  margin: 0 15px;
}
.right_select_box select {
  color: rgb(4, 30, 66);
  font-family: jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
}
