.homepage {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  text-transform: capitalize;
}
.container .next_prev_box {
  width: 25px;
}
.container .next_prev_box img {
  position: absolute;
  top: 60%;
}
.container .category_top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 50px;
}
.category_top span {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}
.category_top a {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}
.category_top a:hover {
  border-bottom: 1px solid rgb(4, 30, 66);
}
.container .product_content_box {
  width: 100%;
  height: auto;
  padding: 5px 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.container .product_content_box .product_title {
  color: rgb(98, 105, 116);
  font-family: var(--font);
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.container .product_content_box .product_description {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 7px;
  height: 56px;
  overflow: hidden;
}
.container .product_content_box .review_box {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  align-items: center;
  margin-left: 10px;
}
.container .price_box strong {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.container .price_box span {
  color: rgb(98, 105, 116);
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}
.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.header_frame .container {
  flex-direction: row;
}
.header_frame .container .header_left {
  width: 875px;
  height: 508px;
  position: relative;
  background-image: url(../public/Rectangle\ 55.svg);
  background-color: #0053f6;
  padding: 15px;
  border-radius: 5px;
}
.header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}
.header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 6px;
  position: relative;

  background: rgb(245, 195, 75);
}
.header_frame .header_content span {
  margin-top: 10px;
  width: 428px;
  font-family: var(--font);
  font-size: 60px;
  font-weight: 400;
  line-height: 87px;
  font-style: normal;
  color: #ffffff;
}
.header_frame .header_content p {
  margin-top: 10px;
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font);
  font-style: normal;
  color: #ffffff;
}
.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
  background: rgb(245, 195, 75);
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}
.header_frame .header_content img {
  position: absolute;
  width: 519.51px;
  height: 407px;
  right: 10px;
}
.header_frame .container .header_right {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}
.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row-reverse;
  background: rgb(242, 242, 242);
  margin-left: 20px;
}
.header_frame .header_box .box_left {
  margin-left: 37px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.header_frame .box_left span {
  color: rgb(0, 83, 246);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}
.header_frame .box_left p {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0%;
}
.header_frame .box_left a {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}
.header_frame .box_left .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background: rgb(4, 30, 66);
}
.header_frame .header_box .box_right {
  width: 50%;
}
.header_frame .box_right img {
  width: 100%;
  height: 100%;
}
.homepage .service_frame {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.service_frame .container {
  flex-direction: row;
}
.service_frame .container .service_box {
  width: 25%;
  height: 86px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaeaea;
}
.service_frame .service_box img {
  width: 35px;
  height: 35px;
}
.service_frame .service_box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}
.service_frame .service_content span {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.service_frame .service_content p {
  color: rgb(98, 105, 116);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.shop_category_frame {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.shop_category_frame .container {
  flex-direction: column;
}

.shop_category_frame .container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shop_category_frame .category_wrapper .category_box {
  width: 142px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.shop_category_frame .category_box .category_img_box {
  width: 142px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
  border: solid 1px #eaeaea;
}
.shop_category_frame .category_box span {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 15px;
}
.selling_product_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.selling_product_frame .container {
  flex-direction: column;
}
.selling_product_frame .container .product_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selling_product_frame .product_wrapper .product_boxes {
  width: 1324px;
  height: 452px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.selling_product_frame .product_boxes .product_box {
  width: 306px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.selling_product_frame .product_box .product_img_box {
  width: 100%;
  height: 280px;
}
.selling_product_frame .product_img_box .hover_box {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  display: none;
}
.selling_product_frame .product_img_box:hover .hover_box {
  display: flex;
}
.selling_product_frame .hover_box button {
  width: 260px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: #0053f6;
  color: #ffffff;
  font-family: var(--font);
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  box-shadow: 0px 5px 20px rgba(0, 83, 246, 0.1z);
  border-radius: 6px;
  margin-bottom: 10px;
}

.container .product_pagination_box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  height: auto;
  flex-direction: row;
}
.product_pagination_box .pagination_main {
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-between; */
  align-items: center;
  width: auto;
  height: 24px;
}
.pagination_main .pagination_dot {
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
}
.pagination_dot .dot {
  width: 20px;
  height: 20px;
  justify-content: center;

  display: flex;
  align-items: center;
}
.dot div {
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background: #000000;
  display: flex;
}
.pagination_dot .dot.active {
  border: 1px solid #000000;
  border-radius: 50%;
}
.maintion_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.maintion_frame .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background-image: url(../icons/image\ 82.png);
}
.maintion_frame .container span {
  color: rgb(0, 83, 246);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.ads_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.ads_frame .container {
  flex-direction: column;
  justify-content: space-between;
}
.container .category_top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 50px;
}
.container .ads_box_wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
  height: 368px;
}
.ads_box_wrapper .ads_box_right {
  width: 665px;
  height: 368px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 6px;

  background: rgb(243, 245, 246);
}
.ads_box_right span {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.ads_box_right strong {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}
.ads_box_right a {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  border-bottom: 2px solid rgb(4, 30, 66);
}

.ads_box_right .right_content_box {
  position: absolute;
  margin: 20px;
  bottom: 40px;
  left: 46px;
}
.ads_box_right img {
  width: 320px;
  height: 310px;

  position: absolute;
  right: 30px;
  bottom: 30px;
}
.ads_box_wrapper .ads_box_left {
  width: 48%;
  height: 368px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 6px;
  margin-left: 30px;
  flex-wrap: wrap;
}
.ads_box_left .small_box {
  position: relative;
  padding: 30px;
  width: 293px;
  height: 160px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: #f3f5f6;
  border-radius: 6px;
  margin-bottom: 20px;
}
.small_box .small_box_content {
  display: flex;
  flex-direction: column;
}
.small_box_content strong {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.small_box_content span {
  color: rgb(98, 105, 116);
  font-family: var(--font);
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.small_box img {
  position: absolute;
  right: 30px;
  top: 40px;
}
.tv_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.tv_frame .container {
  flex-direction: column;
  justify-content: space-between;
}
.tv_frame .category_top .tv_modes {
  width: 553px;
  height: auto;
}
.tv_frame .tv_modes a {
  margin-left: 45px;
}
.tv_frame .container .tv_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.tv_frame .tv_wrapper .tv_product_boxes {
  width: 1300px;
  height: 452px;
  display: flex;
  flex-direction: row;
}
.tv_frame .tv_product_boxes .tv_product_box {
  width: 262px;
  height: 452;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
.tv_frame .tv_product_box .product_img {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.event_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: 632px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/icons/event_bg.png);
}
.event_frame .container {
  flex-direction: row;
  height: 392px;
  align-items: center;
}
.container .event_content_box {
  width: 250px;
  height: 244px;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  margin-right: 30px;
}
.event_content_box span {
  color: rgb(255, 255, 255);
  font-family: var(--font);
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}
.event_content_box .timer_wrapper {
  justify-content: space-between;

  display: flex;
  /* margin-top: 40px; */
}
.timer_wrapper .timer_data {
  color: rgb(255, 255, 255);
  font-family: var(--font);
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.timer_data strong {
  color: rgb(255, 255, 255);
  font-family: var(--font);
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}
.timer_data span {
  color: rgb(255, 255, 255);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.event_content_box a {
  box-sizing: border-box;
  width: 141px;
  height: 52px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
  background: rgb(245, 195, 75);
  display: flex;
  flex-direction: row;
  padding: 15px 35px 15px 35px;
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 30px;
}
.container .event_product_wrapper {
  margin-top: 30px;
  width: 1020px;
  height: auto;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.event_product_wrapper .event_product_boxes {
  width: 970px;
  height: 400px;
  display: flex;
  flex-direction: row;
}
.event_product_boxes .event_product_box {
  width: 262px;
  height: 452;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  margin: 0px 5px;
  border-radius: 10px;
}
.event_product_box .product_img {
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.event_frame .container .event_product_wrapper .next_prev_box2 img {
  position: absolute;
  top: 60%;
  margin-left: 20;
}
